// app global css in SCSS form
body {
  font-family: "Montserrat", sans-serif;
}

html::-webkit-scrollbar {
  width: 0.65rem;
}

// html::-webkit-scrollbar-track {
//   background: red;
// }

html::-webkit-scrollbar-thumb {
  background: #00eaab;
}
